extends layout


block content
  div.bodySection
    div.leftItem
      h4 Realtime & free
    div.rightItem
      h4 ChatServer
       p
          a(href="/auth/twitter")
           i Sign in through twitter